.wrapper-pic {
  position: relative;
}
// btn - chế độ
.btn-chedo-xlnc {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 15px 20px;
  border-radius: 99px;
  font-size: 1.2rem;
  font-weight: 600;
}
.btn-color-auto {
  background-color: rgb(30, 209, 30);
}
.btn-color-man {
  background-color: rgb(209, 146, 30);
}
.btn-modal-xlc {
  font-weight: 600;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}
.btnC-modal-xlc {
  background-color: rgb(25, 240, 79);
  padding: 10px 20px;
  margin: 0 5px;
}
.btnD-modal-xlc {
  background-color: rgb(240, 111, 25);
  padding: 10px 20px;
  margin: 0 5px;
}
.pic-xlnc{
  padding: 50px;
}
// bom
.dk-kxln-bom-1{
  position: absolute;
  width: 80px;
  height: 60px;
  top: 257px;
  left: 51px;
  transform: scaleX(-1);
}
.dk-kxln-bom-2{
  position: absolute;
  width: 80px;
  height: 60px;
  top: 105px;
  left: 202px;
}
.dk-kxln-bom-3{
  position: absolute;
  width: 80px;
  height: 60px;
  bottom: 138px;
  right: 125px;
}
.dk-kxln-bom-4{
  position: absolute;
  width: 80px;
  height: 60px;
  bottom: 138px;
  left: 220px;
}
// van
.dk-kxln-van-1{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 208px;
  left: 105px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-1{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 218px;
  left: 100px;
  transform: rotate(90deg);
}
.dk-kxln-van-2{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 50px;
  left: 405px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-2{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 60px;
  left: 415px;
  transform: rotate(270deg);
}
.dk-kxln-van-3{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 92px;
  left: 405px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-3{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 102px;
  left: 415px;
  transform: rotate(270deg);
}
.dk-kxln-van-4{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 134px;
  left: 405px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-4{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 143px;
  left: 415px;
  transform: rotate(270deg);
}
.dk-kxln-van-5{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 176px;
  left: 405px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-5{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 185px;
  left: 415px;
  transform: rotate(270deg);
}
.dk-kxln-van-6{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 219px;
  left: 405px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-6{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 227px;
  left: 415px;
  transform: rotate(270deg);
}
.dk-kxln-van-7{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 260px;
  left: 405px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-7{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 270px;
  left: 415px;
  transform: rotate(270deg);
}
.dk-kxln-van-8{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 73px;
  left: 642px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-8{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 82px;
  left: 652px;
  transform: rotate(270deg);
}
.dk-kxln-van-9{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 114px;
  left: 642px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-9{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 123px;
  left: 652px;
  transform: rotate(270deg);
}
.dk-kxln-van-10{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 155px;
  left: 642px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-10{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 165px;
  left: 652px;
  transform: rotate(270deg);
}
.dk-kxln-van-11{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 198px;
  left: 642px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-11{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 208px;
  left: 652px;
  transform: rotate(270deg);
}
.dk-kxln-van-12{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 240px;
  left: 642px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-12{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 248px;
  left: 652px;
  transform: rotate(270deg);
}
.dk-kxln-van-13{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 281px;
  left: 642px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-13{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 290px;
  left: 652px;
  transform: rotate(270deg);
}
.dk-kxln-van-14{
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 270px;
  left: 202px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-14{
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 260px;
  left: 210px;
  transform: rotate(270deg);
}
// van xả
.dk-kxln-ex-1{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 50px;
  left: 600px;
  transform: rotate(180deg);
}
.dk-kxln-ex-true-1{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 59px;
  left: 605px;
  transform: rotate(270deg);
}
.dk-kxln-ex-2{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 93px;
  left: 600px;
  transform: rotate(180deg);
}
.dk-kxln-ex-true-2{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 100px;
  left: 605px;
  transform: rotate(270deg);
}
.dk-kxln-ex-3{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 135px;
  left: 600px;
  transform: rotate(180deg);
}
.dk-kxln-ex-true-3{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 143px;
  left: 605px;
  transform: rotate(270deg);
}
.dk-kxln-ex-4{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 175px;
  left: 600px;
  transform: rotate(180deg);
}
.dk-kxln-ex-true-4{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 185px;
  left: 605px;
  transform: rotate(270deg);
}
.dk-kxln-ex-5{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 217px;
  left: 600px;
  transform: rotate(180deg);
}
.dk-kxln-ex-true-5{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 227px;
  left: 605px;
  transform: rotate(270deg);
}
.dk-kxln-ex-6{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 258px;
  left: 600px;
  transform: rotate(180deg);
}
.dk-kxln-ex-true-6{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 268px;
  left: 605px;
  transform: rotate(270deg);
}
.dk-kxln-ex-7{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 310px;
  left: 215px;
  transform: rotate(90deg);
}
.dk-kxln-ex-true-7{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 320px;
  left: 224px;
  transform: rotate(0deg);
}
.dk-kxln-ex-8{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 310px;
  left: 345px;
  transform: rotate(90deg);
}
.dk-kxln-ex-true-8{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 320px;
  left: 353px;
  transform: rotate(0deg);
}
.dk-kxln-ex-9{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 310px;
  left: 610px;
  transform: rotate(90deg);
}
.dk-kxln-ex-true-9{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 320px;
  left: 620px;
  transform: rotate(0deg);
}
.dk-kxln-ex-10{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 310px;
  right: 396px;
  transform: rotate(90deg);
}
.dk-kxln-ex-true-10{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 320px;
  right: 387px;
  transform: rotate(0deg);
}
.dk-kxln-ex-11{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 310px;
  right: 142px;
  transform: rotate(90deg);
}
.dk-kxln-ex-true-11{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 320px;
  right: 133px;
  transform: rotate(0deg);
}
.dk-kxln-ex-12{
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 100px;
  left: 555px;
  transform: rotate(90deg);
}
.dk-kxln-ex-true-12{
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 90px;
  left: 565px;
  transform: rotate(0deg);
}
.dk-kxln-ex-13{
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 100px;
  right: 214px;
  transform: rotate(90deg);
}
.dk-kxln-ex-true-13{
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 90px;
  right: 205px;
  transform: rotate(0deg);
}
// .dk-kxln-ex-12{

// }
// .dk-kxln-ex-true-12{

// }
// 

@media only screen and (min-width: 1142px) {
  .pic-xlnc {
    display: block;
  }
  .nav-overlay-landscape {
    display: none;
  }
  .text-landscape {
    display: none;
  }
}
@media only screen and (max-width: 687px) {
  .pic-xlnc {
    display: none;
  }
  .nav-overlay-landscape {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgb(0, 0, 0);
    color: white;
  }
  .text-landscape {
    font-size: 2rem;
    padding-right: 10px;
  }
  .phone-kvxln-w686 {
    animation: rotates linear infinite 2.5s;
  }
}
@keyframes rotates {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(90deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
