.wrapper-pic {
  position: relative;
}
// btn - chế độ
.btn-chedo-xlnc {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 15px 20px;
  border-radius: 99px;
  font-size: 1.2rem;
  font-weight: 600;
}
.btn-color-auto {
  background-color: rgb(30, 209, 30);
}
.btn-color-man {
  background-color: rgb(209, 146, 30);
}
.btn-modal-xlc {
  font-weight: 600;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}
.btnC-modal-xlc {
  background-color: rgb(25, 240, 79);
  padding: 10px 20px;
  margin: 0 5px;
}
.btnD-modal-xlc {
  background-color: rgb(240, 111, 25);
  padding: 10px 20px;
  margin: 0 5px;
}
.pic-xlnc{
  padding: 50px;
}
// bom
.dk-kxln-bom-1{
  position: absolute;
  width: 80px;
  height: 60px;
  top: 257px;
  left: 51px;
  transform: scaleX(-1);
}
.dk-kxln-bom-2{
  position: absolute;
  width: 80px;
  height: 60px;
  top: 105px;
  left: 202px;
}
.dk-kxln-bom-3{
  position: absolute;
  width: 80px;
  height: 60px;
  bottom: 138px;
  right: 125px;
}
.dk-kxln-bom-4{
  position: absolute;
  width: 80px;
  height: 60px;
  bottom: 138px;
  left: 220px;
}
// van
.dk-kxln-van-1{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 208px;
  left: 105px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-1{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 218px;
  left: 100px;
  transform: rotate(90deg);
}
.dk-kxln-van-2{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 50px;
  left: 405px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-2{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 60px;
  left: 415px;
  transform: rotate(270deg);
}
.dk-kxln-van-3{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 92px;
  left: 405px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-3{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 102px;
  left: 415px;
  transform: rotate(270deg);
}
// 
@media only screen and (min-width: 1142px) {
  .pic-xlnc {
    display: block;
  }
  .nav-overlay-landscape {
    display: none;
  }
  .text-landscape {
    display: none;
  }
}
@media only screen and (max-width: 687px) {
  .pic-xlnc {
    display: none;
  }
  .nav-overlay-landscape {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgb(0, 0, 0);
    color: white;
  }
  .text-landscape {
    font-size: 2rem;
    padding-right: 10px;
  }
  .phone-kvxln-w686 {
    animation: rotates linear infinite 2.5s;
  }
}
@keyframes rotates {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(90deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
