.wrapper-pic {
  position: relative;
}
// btn - chế độ
.btn-chedo-xlnc {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 15px 20px;
  border-radius: 99px;
  font-size: 1.2rem;
  font-weight: 600;
}
.btn-color-auto {
  background-color: rgb(30, 209, 30);
}
.btn-color-man {
  background-color: rgb(209, 146, 30);
}
.btn-modal-xlc {
  font-weight: 600;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}
.btnC-modal-xlc {
  background-color: rgb(25, 240, 79);
  padding: 10px 20px;
  margin: 0 5px;
}
.btnD-modal-xlc {
  background-color: rgb(240, 111, 25);
  padding: 10px 20px;
  margin: 0 5px;
}
.pic-xlnc {
  padding: 50px;
}
// bom
.dk-kxln-bom-1 {
  position: absolute;
  width: 80px;
  height: 60px;
  top: 257px;
  left: 51px;
  transform: scaleX(-1);
}
.dk-kxln-bom-2 {
  position: absolute;
  width: 80px;
  height: 60px;
  top: 105px;
  left: 202px;
}
.dk-kxln-bom-3 {
  position: absolute;
  width: 80px;
  height: 60px;
  bottom: 138px;
  right: 125px;
}
.dk-kxln-bom-4 {
  position: absolute;
  width: 80px;
  height: 60px;
  bottom: 138px;
  left: 220px;
}
// van
.dk-kxln-van-1 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 208px;
  left: 105px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-1 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 218px;
  left: 100px;
  transform: rotate(90deg);
}
.dk-kxln-van-2 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 50px;
  left: 405px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-2 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 60px;
  left: 415px;
  transform: rotate(270deg);
}
.dk-kxln-van-3 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 92px;
  left: 405px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-3 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 102px;
  left: 415px;
  transform: rotate(270deg);
}
.dk-kxln-van-4 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 134px;
  left: 405px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-4 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 143px;
  left: 415px;
  transform: rotate(270deg);
}
.dk-kxln-van-5 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 176px;
  left: 405px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-5 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 185px;
  left: 415px;
  transform: rotate(270deg);
}
.dk-kxln-van-6 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 219px;
  left: 405px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-6 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 227px;
  left: 415px;
  transform: rotate(270deg);
}
.dk-kxln-van-7 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 260px;
  left: 405px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-7 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 270px;
  left: 415px;
  transform: rotate(270deg);
}
.dk-kxln-van-8 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 73px;
  left: 642px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-8 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 82px;
  left: 652px;
  transform: rotate(270deg);
}
.dk-kxln-van-9 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 114px;
  left: 642px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-9 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 123px;
  left: 652px;
  transform: rotate(270deg);
}
.dk-kxln-van-10 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 155px;
  left: 642px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-10 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 165px;
  left: 652px;
  transform: rotate(270deg);
}
.dk-kxln-van-11 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 198px;
  left: 642px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-11 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 208px;
  left: 652px;
  transform: rotate(270deg);
}
.dk-kxln-van-12 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 240px;
  left: 642px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-12 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 248px;
  left: 652px;
  transform: rotate(270deg);
}
.dk-kxln-van-13 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 281px;
  left: 642px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-13 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 290px;
  left: 652px;
  transform: rotate(270deg);
}
.dk-kxln-van-14 {
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 270px;
  left: 202px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-14 {
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 260px;
  left: 210px;
  transform: rotate(270deg);
}
.dk-kxln-van-15 {
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 265px;
  left: 606px;
  transform: rotate(180deg);
}
.dk-kxln-van-true-15 {
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 256px;
  left: 615px;
  transform: rotate(270deg);
}
.dk-kxln-van-16 {
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 200px;
  right: 145px;
  transform: rotate(270deg);
}
.dk-kxln-van-true-16 {
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 207px;
  right: 153px;
  transform: rotate(180deg);
}
// van xả
.dk-kxln-ex-1 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 50px;
  left: 600px;
  transform: rotate(180deg);
}
.dk-kxln-ex-true-1 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 59px;
  left: 605px;
  transform: rotate(270deg);
}
.dk-kxln-ex-2 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 93px;
  left: 600px;
  transform: rotate(180deg);
}
.dk-kxln-ex-true-2 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 100px;
  left: 605px;
  transform: rotate(270deg);
}
.dk-kxln-ex-3 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 135px;
  left: 600px;
  transform: rotate(180deg);
}
.dk-kxln-ex-true-3 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 143px;
  left: 605px;
  transform: rotate(270deg);
}
.dk-kxln-ex-4 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 175px;
  left: 600px;
  transform: rotate(180deg);
}
.dk-kxln-ex-true-4 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 185px;
  left: 605px;
  transform: rotate(270deg);
}
.dk-kxln-ex-5 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 217px;
  left: 600px;
  transform: rotate(180deg);
}
.dk-kxln-ex-true-5 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 227px;
  left: 605px;
  transform: rotate(270deg);
}
.dk-kxln-ex-6 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 258px;
  left: 600px;
  transform: rotate(180deg);
}
.dk-kxln-ex-true-6 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 268px;
  left: 605px;
  transform: rotate(270deg);
}
.dk-kxln-ex-7 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 310px;
  left: 215px;
  transform: rotate(90deg);
}
.dk-kxln-ex-true-7 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 320px;
  left: 224px;
  transform: rotate(0deg);
}
.dk-kxln-ex-8 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 310px;
  left: 345px;
  transform: rotate(90deg);
}
.dk-kxln-ex-true-8 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 320px;
  left: 353px;
  transform: rotate(0deg);
}
.dk-kxln-ex-9 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 310px;
  left: 610px;
  transform: rotate(90deg);
}
.dk-kxln-ex-true-9 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 320px;
  left: 620px;
  transform: rotate(0deg);
}
.dk-kxln-ex-10 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 310px;
  right: 396px;
  transform: rotate(90deg);
}
.dk-kxln-ex-true-10 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 320px;
  right: 387px;
  transform: rotate(0deg);
}
.dk-kxln-ex-11 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 310px;
  right: 142px;
  transform: rotate(90deg);
}
.dk-kxln-ex-true-11 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 320px;
  right: 133px;
  transform: rotate(0deg);
}
.dk-kxln-ex-12 {
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 100px;
  left: 555px;
  transform: rotate(90deg);
}
.dk-kxln-ex-true-12 {
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 90px;
  left: 565px;
  transform: rotate(0deg);
}
.dk-kxln-ex-13 {
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 100px;
  right: 214px;
  transform: rotate(90deg);
}
.dk-kxln-ex-true-13 {
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 90px;
  right: 205px;
  transform: rotate(0deg);
}
// UV light
.dk-kxln-uv-true {
  position: absolute;
  width: 40px;
  height: 140px;
  top: 160px;
  right: 389px;
  transform: rotate(0deg);
}
.dk-kxln-uv-van-1 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 261px;
  right: 356px;
  transform: rotate(180deg);
}
.dk-kxln-uv-van-true-1 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 267px;
  right: 347px;
  transform: rotate(270deg);
}

//lỗi báo mức - lỗi báo mức
.kxln-2m3 {
  position: absolute;
  top: 230px;
  left: 265px;
  font-size: 1rem;
  padding: 5px 10px;
  font-weight: 600;
  color: white;
  box-shadow: 1px 2px 2px 1px rgba(10, 10, 10, 0.688);
  background-color: red;
  border-radius: 5px;
}
.kxln-beLang {
  position: absolute;
  top: 230px;
  right: 185px;
  font-size: 1rem;
  padding: 5px 10px;
  font-weight: 600;
  color: white;
  box-shadow: 1px 2px 2px 1px rgba(10, 10, 10, 0.688);
  background-color: red;
  border-radius: 5px;
}
.kxln-ss1 {
  position: absolute;
  bottom: 200px;
  right: 295px;
  font-size: 1rem;
  padding: 5px 10px;
  font-weight: 600;
  color: white;
  box-shadow: 1px 2px 2px 1px rgba(10, 10, 10, 0.688);
  background-color: red;
  border-radius: 5px;
}
.kxln-ss2 {
  position: absolute;
  bottom: 220px;
  left: 405px;
  font-size: 1rem;
  padding: 5px 10px;
  font-weight: 600;
  color: white;
  box-shadow: 1px 2px 2px 1px rgba(10, 10, 10, 0.688);
  background-color: red;
  border-radius: 5px;
}
.kxln-drum-filter{
  position: absolute;
  top: 230px;
  left: 145px;
  font-size: 1rem;
  padding: 5px 10px;
  font-weight: 600;
  color: white;
  box-shadow: 1px 2px 2px 1px rgba(10, 10, 10, 0.688);
  background-color: red;
  border-radius: 5px;
}
// oxy, nhiet do tai be
.kxln-oxy-ss2 {
  width: 120px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  color: #000000;
  background-color: #ffffffa2;
  font-size: 1.2rem;
  top: 480px;
  left: 410px;
  box-shadow: 3px 3px 5px 1px black;
}
.kxln-temp-ss2 {
  width: 120px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  color: #000000;
  font-size: 1.2rem;
  background-color: #ffffa7;
  top: 520px;
  left: 410px;
  box-shadow: 3px 3px 5px 1px black;
}
// popup kxln
.popUp-kxln,
.popUp-kcn {
  border: 1px solid black;
  box-shadow: 1px 1px 15px 1px rgba(255, 253, 253, 0.964);
}
// bơm đầu vào
.tuongtac-kxln-mt1 {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 255px;
  left: 50px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kxln-mt1 {
  display: none;
  position: absolute;
  top: 310px;
  left: 80px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.title-kxln-pp {
  padding: 2px 0;
  margin-bottom: 2px;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #71daf7fe;
  justify-content: center;
  text-align: center;
}
.btn-kxln-dk {
  width: 100px;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 20px;
  padding: 7px;
  border: 1px solid black;
  margin: 5px 5px 0 5px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.nav-kxln-overlay1 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  background-color: #000000b6;
}
#show-pp-kxln-mt1:checked ~ .popUp-kxln-mt1 {
  display: block;
}
#show-pp-kxln-mt1:checked ~ .nav-kxln-overlay1 {
  display: block;
}
// smart drum
.tuongtac-kxln-smrtDrum {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 216px;
  left: 155px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kxln-smrtDrum {
  display: none;
  position: absolute;
  top: 260px;
  left: 80px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kxln-smrtDrum-overlay1 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kxln-smrtDrum:checked ~ .popUp-kxln-smrtDrum {
  display: block;
}
#show-pp-kxln-smrtDrum:checked ~ .nav-kxln-smrtDrum-overlay1 {
  display: block;
}
// van đầu vào
.tuongtac-kxln-vdv {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 206px;
  left: 99px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kxln-vdv {
  display: none;
  position: absolute;
  top: 260px;
  left: 80px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kxln-overlay2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kxln-vdv:checked ~ .popUp-kxln-vdv {
  display: block;
}
#show-pp-kxln-vdv:checked ~ .nav-kxln-overlay2 {
  display: block;
}
// bơm 2m3
.tuongtac-kxln-2m3 {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 100px;
  left: 195px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kxln-2m3 {
  display: none;
  position: absolute;
  top: 160px;
  left: 180px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kxln-overlay3 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kxln-2m3:checked ~ .popUp-kxln-2m3 {
  display: block;
}
#show-pp-kxln-2m3:checked ~ .nav-kxln-overlay3 {
  display: block;
}
// van in bộ lọc
.tuongtac-kxln-in-bl1 {
  position: absolute;
  width: 30px;
  height: 42px;
  top: 50px;
  left: 412px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kxln-in-bl1 {
  display: none;
  position: absolute;
  top: 10px;
  left: 450px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kxln-overlay4 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kxln-in-bl1:checked ~ .popUp-kxln-in-bl1 {
  display: block;
}
#show-pp-kxln-in-bl1:checked ~ .nav-kxln-overlay4 {
  display: block;
}
// in 2
.tuongtac-kxln-in-bl2 {
  position: absolute;
  width: 30px;
  height: 42px;
  top: 92px;
  left: 412px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kxln-in-bl2 {
  display: none;
  position: absolute;
  top: 50px;
  left: 450px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kxln-overlay5 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kxln-in-bl2:checked ~ .popUp-kxln-in-bl2 {
  display: block;
}
#show-pp-kxln-in-bl2:checked ~ .nav-kxln-overlay5 {
  display: block;
}
// in 3
.tuongtac-kxln-in-bl3 {
  position: absolute;
  width: 30px;
  height: 42px;
  top: 135px;
  left: 412px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kxln-in-bl3 {
  display: none;
  position: absolute;
  top: 100px;
  left: 450px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kxln-overlay6 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kxln-in-bl3:checked ~ .popUp-kxln-in-bl3 {
  display: block;
}
#show-pp-kxln-in-bl3:checked ~ .nav-kxln-overlay6 {
  display: block;
}
// in 4
.tuongtac-kxln-in-bl4 {
  position: absolute;
  width: 30px;
  height: 42px;
  top: 178px;
  left: 412px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kxln-in-bl4 {
  display: none;
  position: absolute;
  top: 130px;
  left: 450px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kxln-overlay7 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kxln-in-bl4:checked ~ .popUp-kxln-in-bl4 {
  display: block;
}
#show-pp-kxln-in-bl4:checked ~ .nav-kxln-overlay7 {
  display: block;
}
// in 5
.tuongtac-kxln-in-bl5 {
  position: absolute;
  width: 30px;
  height: 42px;
  top: 221px;
  left: 412px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kxln-in-bl5 {
  display: none;
  position: absolute;
  top: 180px;
  left: 450px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kxln-overlay8 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kxln-in-bl5:checked ~ .popUp-kxln-in-bl5 {
  display: block;
}
#show-pp-kxln-in-bl5:checked ~ .nav-kxln-overlay8 {
  display: block;
}
// in 6
.tuongtac-kxln-in-bl6 {
  position: absolute;
  width: 30px;
  height: 42px;
  top: 264px;
  left: 412px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kxln-in-bl6 {
  display: none;
  position: absolute;
  top: 200px;
  left: 450px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kxln-overlay9 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kxln-in-bl6:checked ~ .popUp-kxln-in-bl6 {
  display: block;
}
#show-pp-kxln-in-bl6:checked ~ .nav-kxln-overlay9 {
  display: block;
}
// out bl 1
.tuongtac-kxln-out-bl1 {
  position: absolute;
  width: 30px;
  height: 40px;
  top: 75px;
  right: 464px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kxln-out-bl1 {
  display: none;
  position: absolute;
  top: 50px;
  left: 450px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kxln-overlay10 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kxln-out-bl1:checked ~ .popUp-kxln-out-bl1 {
  display: block;
}
#show-pp-kxln-out-bl1:checked ~ .nav-kxln-overlay10 {
  display: block;
}
// out bl 2
.tuongtac-kxln-out-bl2 {
  position: absolute;
  width: 30px;
  height: 40px;
  top: 117px;
  right: 464px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kxln-out-bl2 {
  display: none;
  position: absolute;
  top: 70px;
  left: 450px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kxln-overlay11 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kxln-out-bl2:checked ~ .popUp-kxln-out-bl2 {
  display: block;
}
#show-pp-kxln-out-bl2:checked ~ .nav-kxln-overlay11 {
  display: block;
}
// out bl 3
.tuongtac-kxln-out-bl3 {
  position: absolute;
  width: 30px;
  height: 40px;
  top: 160px;
  right: 464px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kxln-out-bl3 {
  display: none;
  position: absolute;
  top: 105px;
  left: 450px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kxln-overlay12 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kxln-out-bl3:checked ~ .popUp-kxln-out-bl3 {
  display: block;
}
#show-pp-kxln-out-bl3:checked ~ .nav-kxln-overlay12 {
  display: block;
}
// out bl 4
.tuongtac-kxln-out-bl4 {
  position: absolute;
  width: 30px;
  height: 40px;
  top: 202px;
  right: 464px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kxln-out-bl4 {
  display: none;
  position: absolute;
  top: 150px;
  left: 450px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kxln-overlay13 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kxln-out-bl4:checked ~ .popUp-kxln-out-bl4 {
  display: block;
}
#show-pp-kxln-out-bl4:checked ~ .nav-kxln-overlay13 {
  display: block;
}
// out bl 5
.tuongtac-kxln-out-bl5 {
  position: absolute;
  width: 30px;
  height: 40px;
  top: 244px;
  right: 464px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kxln-out-bl5 {
  display: none;
  position: absolute;
  top: 190px;
  left: 450px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kxln-overlay14 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kxln-out-bl5:checked ~ .popUp-kxln-out-bl5 {
  display: block;
}
#show-pp-kxln-out-bl5:checked ~ .nav-kxln-overlay14 {
  display: block;
}
// out bl 6
.tuongtac-kxln-out-bl6 {
  position: absolute;
  width: 30px;
  height: 40px;
  top: 285px;
  right: 464px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kxln-out-bl6 {
  display: none;
  position: absolute;
  top: 230px;
  left: 450px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kxln-overlay15 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kxln-out-bl6:checked ~ .popUp-kxln-out-bl6 {
  display: block;
}
#show-pp-kxln-out-bl6:checked ~ .nav-kxln-overlay15 {
  display: block;
}
// cum kcn
.tuongtac-kcn-in-blg1 {
  position: absolute;
  width: 30px;
  height: 40px;
  top: 265px;
  right: 364px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kcn-in-blg1 {
  display: none;
  position: absolute;
  top: 230px;
  right: 400px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kcn-overlay21 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kcn-in-blg1:checked ~ .popUp-kcn-in-blg1 {
  display: block;
}
#show-pp-kcn-in-blg1:checked ~ .nav-kcn-overlay21 {
  display: block;
}
//van in ss1
.tuongtac-kcn-in-ss1 {
  position: absolute;
  width: 40px;
  height: 30px;
  bottom: 170px;
  right: 150px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kcn-in-ss1 {
  display: none;
  position: absolute;
  bottom: 120px;
  right: 195px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kcn-overlay16 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kcn-in-ss1:checked ~ .popUp-kcn-in-ss1 {
  display: block;
}
#show-pp-kcn-in-ss1:checked ~ .nav-kcn-overlay16 {
  display: block;
}
//van xt ss1
.tuongtac-kcn-xt-ss1 {
  position: absolute;
  width: 30px;
  height: 40px;
  bottom: 230px;
  right: 500px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kcn-xt-ss1 {
  display: none;
  position: absolute;
  bottom: 160px;
  right: 340px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kcn-overlay18 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kcn-xt-ss1:checked ~ .popUp-kcn-xt-ss1 {
  display: block;
}
#show-pp-kcn-xt-ss1:checked ~ .nav-kcn-overlay18 {
  display: block;
}
//van tt ss1
.tuongtac-kcn-tt-ss1 {
  position: absolute;
  width: 30px;
  height: 40px;
  bottom: 233px;
  left: 210px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kcn-tt-ss1 {
  display: none;
  position: absolute;
  bottom: 160px;
  left: 250px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kcn-overlay19 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kcn-tt-ss1:checked ~ .popUp-kcn-tt-ss1 {
  display: block;
}
#show-pp-kcn-tt-ss1:checked ~ .nav-kcn-overlay19 {
  display: block;
}
//motor ss1
.tuongtac-kcn-mt-ss1 {
  position: absolute;
  width: 80px;
  height: 70px;
  bottom: 95px;
  right: 125px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kcn-mt-ss1 {
  display: none;
  position: absolute;
  bottom: 120px;
  right: 195px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kcn-overlay17 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kcn-mt-ss1:checked ~ .popUp-kcn-mt-ss1 {
  display: block;
}
#show-pp-kcn-mt-ss1:checked ~ .nav-kcn-overlay17 {
  display: block;
}
//motor tt
.tuongtac-kcn-mt-tt {
  position: absolute;
  width: 80px;
  height: 70px;
  bottom: 95px;
  left: 217px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kcn-mt-tt {
  display: none;
  position: absolute;
  bottom: 70px;
  left: 285px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kcn-overlay20 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kcn-mt-tt:checked ~ .popUp-kcn-mt-tt {
  display: block;
}
#show-pp-kcn-mt-tt:checked ~ .nav-kcn-overlay20 {
  display: block;
}
// kcn xa van
.tuongtac-kcn-vanxa1 {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 318px;
  left: 220px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kcn-vanxa1 {
  display: none;
  position: absolute;
  top: 260px;
  left: 270px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kcn-overlay1 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kcn-vanxa1:checked ~ .popUp-kcn-vanxa1 {
  display: block;
}
#show-pp-kcn-vanxa1:checked ~ .nav-kcn-overlay1 {
  display: block;
}

.tuongtac-kcn-vanxa2 {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 318px;
  left: 350px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kcn-vanxa2 {
  display: none;
  position: absolute;
  top: 260px;
  left: 400px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kcn-overlay2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kcn-vanxa2:checked ~ .popUp-kcn-vanxa2 {
  display: block;
}
#show-pp-kcn-vanxa2:checked ~ .nav-kcn-overlay2 {
  display: block;
}

.tuongtac-kcn-vanxa3 {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 318px;
  right: 395px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kcn-vanxa3 {
  display: none;
  position: absolute;
  top: 260px;
  right: 445px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kcn-overlay3 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kcn-vanxa3:checked ~ .popUp-kcn-vanxa3 {
  display: block;
}
#show-pp-kcn-vanxa3:checked ~ .nav-kcn-overlay3 {
  display: block;
}

.tuongtac-kcn-vanxa4 {
  position: absolute;
  width: 40px;
  height: 30px;
  top: 320px;
  right: 140px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kcn-vanxa4 {
  display: none;
  position: absolute;
  top: 260px;
  right: 195px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kcn-overlay4 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kcn-vanxa4:checked ~ .popUp-kcn-vanxa4 {
  display: block;
}
#show-pp-kcn-vanxa4:checked ~ .nav-kcn-overlay4 {
  display: block;
}

.tuongtac-kcn-vanxa5 {
  position: absolute;
  width: 40px;
  height: 30px;
  bottom: 70px;
  right: 215px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0.49);
}
.popUp-kcn-vanxa5 {
  display: none;
  position: absolute;
  bottom: 40px;
  right: 260px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kcn-overlay5 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kcn-vanxa5:checked ~ .popUp-kcn-vanxa5 {
  display: block;
}
#show-pp-kcn-vanxa5:checked ~ .nav-kcn-overlay5 {
  display: block;
}

.tuongtac-kcn-vanxa5 {
  position: absolute;
  width: 40px;
  height: 30px;
  bottom: 70px;
  right: 215px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kcn-vanxa5 {
  display: none;
  position: absolute;
  bottom: 40px;
  right: 260px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kcn-overlay5 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kcn-vanxa5:checked ~ .popUp-kcn-vanxa5 {
  display: block;
}
#show-pp-kcn-vanxa5:checked ~ .nav-kcn-overlay5 {
  display: block;
}

.tuongtac-kcn-vanxa6 {
  position: absolute;
  width: 40px;
  height: 30px;
  bottom: 70px;
  left: 560px;
  border-radius: 99px;
  background-color: rgba(0, 0, 0, 0);
}
.popUp-kcn-vanxa6 {
  display: none;
  position: absolute;
  bottom: 40px;
  right: 380px;
  width: 150px;
  height: 140px;
  border-radius: 10px;
  z-index: 99;
  background-color: rgba(246, 246, 225, 0.81);
}
.nav-kcn-overlay6 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #000000b6;
}
#show-pp-kcn-vanxa6:checked ~ .popUp-kcn-vanxa6 {
  display: block;
}
#show-pp-kcn-vanxa6:checked ~ .nav-kcn-overlay6 {
  display: block;
}


//
//
@media only screen and (min-width: 1142px) {
  .pic-xlnc {
    display: block;
  }
  .nav-overlay-landscape {
    display: none;
  }
  .text-landscape {
    display: none;
  }
}
@media only screen and (max-width: 687px) {
  .pic-xlnc {
    display: none;
  }
  .nav-overlay-landscape {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgb(0, 0, 0);
    color: white;
  }
  .text-landscape {
    font-size: 2rem;
    padding-right: 10px;
  }
  .phone-kvxln-w686 {
    animation: rotates linear infinite 2.5s;
  }
}
@keyframes rotates {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(90deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
