.kvnt-wrapper {
  .benuoi {
    position: relative;
    background-image: url("../../../public/images/Benuoikhongbom.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 200px;
    width: 500px;
    height: 300px;
    .title-be {
      font-size: 1.4rem;
      font-weight: 600;
    }
    .thongtin-benuoi {
      .hienthi-be {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
        margin-bottom: 20%;
      }
      .chucnang-be {
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-top: 10%;
        margin-bottom: 24%;
        margin-right: 5%;
        margin-left: 40px;
      }
    }
  }
}
.indicar-oxy-temp {
  box-shadow: 2px 3px 5px 0.5px rgba(0, 0, 0, 0.638);
}

.indicator {
  text-align: center;
  font-size: 1.7rem;
  border-radius: 5px;
  font-weight: 700;
  margin: 2px 2px 2px 50px;
  min-width: 160px;
  padding: 5px 10px 0 10px;
}
.indicar-err {
  margin-left: 135px;
  margin-bottom: 0;
  width: 180px;
  padding: 0 20px;
  border-radius: 10px;
  background-color: red;
  color: white;
  box-shadow: 2px 3px 5px 0.5px black;
}
.btn-chucnang {
  background-color: #a4e713;
  font-size: 1rem;
  min-width: 145px;
  border-radius: 20px;
  border: 1px solid black;
  margin: 5px;
  padding: 7px;
  box-shadow: 2px 3px 5px 0.5px rgba(0, 0, 0, 0.64);

}
.btn-caidat {
  background-color: #fde721;
  margin: 0 !important;
  padding: 10px !important;
}
.btn-dieukhien {
  background-color: #61eb1c;
  margin: 0 !important;
  padding: 10px !important;
}
.btn-xsl {
  background-color: #afe735;
  margin: 0 !important;
  padding: 10px !important;
}
.btn-chedo {
  font-size: 1rem;
  background-color: #f8b122;
}
.type-auto {
  background-color: #61eb1c;
}
.type-man {
  background-color: #f8b122;
}
// form antd
.ant-dropdown-menu {
  position: relative;
  margin: 0;
  padding: 4px 0;
  text-align: left;
  list-style-type: none;
  background-color: rgba(253, 253, 253, 0.849);
  background-clip: padding-box;
  border-radius: 20px;
  outline: none;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
}
.ant-modal-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.856);
}

.ant-form-item-label {
  display: inline-block;
  flex-grow: 0;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  margin-right: 100px;
  width: 300px;
  vertical-align: middle;
}

// element.style {
//   width: 300px;
// }
.ant-form-horizontal .ant-form-item-label {
  flex-grow: 0;
}
.ant-form-item-label {
  display: inline-block;
  flex-grow: 0;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  margin-right: 20px;
  /* width: 300px; */
  vertical-align: middle;
}
.ant-form-item-label {
  display: inline-block;
  flex-grow: 0;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  vertical-align: middle;
}

.ant-form-item-label > label {
  position: relative;
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  height: 32px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  justify-content: space-around;
}
//
//
//
//
@media only screen and (max-width: 687px) {
  .kvnt-wrapper {
    padding: 50px 15px 0px 15px !important;
  }
  .benuoi {
    background-size: 100% 85% !important;
  }
  .indicator {
    width: 140px;
    margin-left: 10px;
    font-size: 1.8rem;
    background-color: rgba(255, 255, 255, 0.637);
  }
  .indicar-err {
    margin-left: 115px !important;
    background-color: red;
    width: 350px;
  }
  .btn-chucnang {
    font-size: 1.3rem;
    min-width: 180px;
    border-radius: 20px;
    margin: 10px 15px 0 20px;
    padding: 5px;
  }
  .phimchucnangbe {
    margin-bottom: 20px;
  }
  .motor-status {
    position: absolute;
    bottom: 12px;
    left: -17px;
    width: 70px;
  }
  .solieu-be {
    width: 100%;
    height: 100%;
    align-items: center;
  }
}

@media only screen and (min-width: 1142px) {
  .indicar-err {
    background-color: red;
    width: 300px;
  }
  .indicator {
    margin-right: 25px;
    background-color: rgba(255, 255, 255, 0.637);
  }
  .motor-status {
    position: absolute;
    bottom: 14px;
    left: -17px;
    width: 70px;
  }
}
