.apexcharts-canvas .apexcharts-element-hidden {
    display: inline-block;
}
.apexcharts-pan-icon {
    transform: scale(0.62);
    position: relative;
    left: 1px;
    top: 0px;
}
.apexcharts-zoomin-icon, .apexcharts-zoomout-icon {
    transform: scale(1.2) !important;
    margin: 0 5px !important;
}
.apexcharts-zoom-icon, .apexcharts-reset-icon, .apexcharts-menu-icon {
    transform: scale(1.5) !important;
    margin: 0 5px !important;

}

.apexcharts-toolbar {
    position: absolute;
    z-index: 11;
    max-width: 176px;
    text-align: right;
    border-radius: 3px;
    padding: 0px 6px 2px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apexcharts-zoom-icon, .apexcharts-zoomin-icon, .apexcharts-zoomout-icon, .apexcharts-reset-icon, .apexcharts-pan-icon, .apexcharts-selection-icon, .apexcharts-menu-icon, .apexcharts-toolbar-custom-icon {
    cursor: pointer;
    width: 20px !important; 
    height: 20px !important; 
    display: flex !important;
    align-items: center;
    line-height: 24px;
    color: #6E8192;
    text-align: center;
}
